# 基础服务依赖
uvicorn>=0.24.0
mutagen>=1.47.0
python-multipart>=0.0.6
python-dotenv>=1.0.0
pydub>=0.25.1
soundfile>=0.12.1
python-docx>=0.8.11
psutil>=5.9.0

# 文本纠正相关依赖
python-Levenshtein>=0.21.1
pkuseg>=0.0.25
pypinyin>=0.49.0

# 语音识别相关依赖
modelscope
huggingface
huggingface_hub
funasr>=1.1.3
numpy<=1.26.4
gradio

# Web框架
fastapi>=0.111.1

# 测试依赖
pytest>=7.4.0